* {
    box-sizing: border-box;
    margin: auto;
    background-color: #D9D9D9;
  }
  
  h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    padding: 30px;
    color: #4484CE;
  }
  
  .description {
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 75%;
    color: #F19F4D;
    background-color: white;
  }
  
  form {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding: 15px;
    color: #4484CE;
  }
  
  #js-search-term {
    color: #F19F4D;
    background-color: white;
  }
  
  .button {
    cursor:pointer;
    color: #F19F4D;
    background-color: white;
  }
  
  h2, h3 {
    font-family: 'Roboto Mono', monospace;
    padding: 15px;
  }
  
  p {
    font-family: monospace;
  }
  
  .hidden {
    display: none;
  }
  
  ul {
    list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  }
  
  .title {
    color: #4484CE;
    text-decoration: underline;
    background-color: white;
  }
  
  .articleDes {
    padding-left: 15px;
    background-color: white;
    font-size: 14px;
  }
  
  .cryptoTitle {
    color: #4484CE;
    text-decoration: underline;
    background-color: #F19F4D;
    text-align: center;
  }
  
  .exchange {
    padding-left: 15px;
    background-color: #F19F4D;
    text-align: center;
    font-size: 14px;
  }
  
  .exchangeLast {
    padding-bottom: 30px;
  }